[submodule "Xorog.Logger"]
	path = Dependencies/Xorog.Logger
	url = https://github.com/Fortunevale/Xorog.Logger
	branch = main
[submodule "Xorog.UniversalExtensions"]
	path = Dependencies/Xorog.UniversalExtensions
	url = https://github.com/Fortunevale/Xorog.UniversalExtensions
	branch = main
[submodule "quickchart-csharp"]
	path = Dependencies/quickchart-csharp
	url = https://github.com/TheXorog/quickchart-csharp
	branch = applied-editorconfig
[submodule "DisCatSharp"]
	path = Dependencies/DisCatSharp
	url = https://github.com/Aiko-IT-Systems/DisCatSharp
	branch = feat/discatsharp.applicationcommands-cooldowns
[submodule "OfficialPlugins/Example"]
	path = OfficialPlugins/Example
	url = https://github.com/Fortunevale/ProjectMakoto.Plugins.Example
[submodule "OfficialPlugins/Social"]
	path = OfficialPlugins/Social
	url = https://github.com/Fortunevale/ProjectMakoto.Plugins.Social
